<header class="header-site" role="banner">
    <div class="content">

        <div class="person">
            <img alt="My photo" src="{{site.profile_picture}}">
        </div>

        <h1>
            <span class="site-title">[{{site.username}}]</span>
        </h1>

        <div class="icons-home">
            <a aria-label="Send email" title="Send me a e-mail" href="mailto:{{site.email}}">
                <svg class="icon icon-email"><use xlink:href="#icon-email"></use></svg>
            </a>

            <a aria-label="My Github" title="Show my GitHub projects" target="_blank" href="https://github.com/{{site.github_username}}">
                <svg class="icon icon-github-alt"><use xlink:href="#icon-github-alt"></use></svg>
            </a>

            <a aria-label="My LinkedIn" title="Show my LinkedIn profile" target="_blank" href="https://www.linkedin.com/in/{{site.linkedin_public_url}}">
                <svg class="icon icon-linkedin"><use xlink:href="#icon-linkedin"></use></svg>
            </a>

            <a aria-label="My Facebook profile" title="Show my Facebook profile" target="_blank" href="https://www.facebook.com/{{site.facebook_username}}">
                <svg class="icon icon-facebook"><use xlink:href="#icon-facebook"></use></svg>
            </a>

            <a aria-label="My StackOverflow profile" title="Show my StackOverflow profile" target="_blank"
               href="https://stackoverflow.com/users/{{site.stackoverflow_userid}}/">
                <svg class="icon icon-stackoverflow"><use xlink:href="#icon-stackoverflow"></use></svg>
            </a>

        </div>

        <span class="header-post">
            <p>Hi there!<br><br>I'm a software developer working in embbedded
            Linux systems.<br><br> You can find more about me and my work using the<br> social media buttons above, or drop me an e-mail!</p>
        </span>

    </div>
</header>
