// COLORS
main = #282828;
mainHover = rgba(135, 116, 169, 0.42);
hover = darken(main, 50%)
mainLight = #928374
sec  = #EBDBB2
lightGray = #F2F2F2
texts = #282828
colorcode = #615576
blackBase =  #1d2021
neotree = #2f2f33
// Resolution
cut = 37.5rem